* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
html {
    color: #ffffff;
    font-family: "Helvetica";
    width: 100%;
    font-size: 10px;
}
 
body {
    background: #1b1b1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
 
#tagline-wrapper {
    padding: 5rem;
}
 
#tagline {
    font-size: 13rem;
    font-weight: 700;
    line-height: 20rem;
    cursor: default;
}
 
#highlight {
    background: #ffa31a;
    border-radius: 2.5rem;
    color: #1b1b1b;
    padding: 1rem 5rem;
}
 
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem;
    width: 50vw;
}
 
.section-heading {
    font-size: 4rem;
    margin-bottom: 2rem;
}
 
.section-content {
    font-size: 2rem;
}