
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
html {
  color: #ffffff;
  font-family: "Montserrat";
  width: 100%;
  font-size: 10px;
  scroll-behavior: smooth;
}
 
body {
  background: #01012b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

body::before {    
  content: "";
  background-image: url(../images/wall.png);
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.075;
  background-repeat: no-repeat;
}
 
#home { 
  display: flex;
  align-items: normal;
  height: 100vh;
  width: 100vw;
  padding: 0;
  background-image: url(../images/home-media.png);
  background-repeat: no-repeat, repeat;
  background-position: right center;
  background-size:contain;
}
 
#tagline-wrapper {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  position: relative;
  height: 80%;
  top: -10%;
}
 
#tagline {
  font-size: 10em;
  font-weight: 700;
  line-height: 20rem;
  width: 100%;
  cursor: default;
  color: white;
  opacity: 1;
  /* -webkit-text-stroke: 1px #ff2a6d; */
  /* testing text stroke */
}
 
#highlight {
  background: #805d62;
  border-radius: 2.5rem;
  color: #1b1b1b;
  padding: 1rem 5rem;
}

#definition .section-content {
  flex-direction: row;
  justify-content: space-around;
}

#definition .section-content img {
  width: 20%;
  margin-right: 10rem;
}

.highlight {
  color: #ff2a4d;
}

.glitch {
  font-size: 15rem;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  text-shadow: 0.05em 0 0 #05d0e8, -0.03em -0.04em 0 #ff2a6d,
    0.025em 0.04em 0 #d1f7ff;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  top: 1;
  left: 0;
  right: 1;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

.statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff2a6d;
  width: 100vw;
  z-index: 1000;
}

.statistic {
  border-width: 1px;
  border-style: solid;
  border-color: #01012b;
  display: flex;
  height: 11.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #01012b;
}

.statistic p {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 5rem;
}

.statistic span {
  font-size: 3rem;
  font-weight: 700;
  padding-right: 5rem;
}

/* Hamburger Menu */
.hamburger-menu {
  width: 100%;
}

#menu_toggle {
  position: fixed;
  opacity: 0;
}

#menu_toggle:checked + .menu_btn > span {
  transform: rotate(45deg);
}

#menu_toggle:checked + .menu_btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu_toggle:checked + .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu_toggle:checked ~ .navbar {
  display: flex;
  left: 0;
  animation: slide-left 150ms;
}

.menu_btn {
  display: none;
  position: fixed;
  margin: 2rem;
  top: 2rem;
  left: 2rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 100;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #f07dea;
  transition-duration: .25s;
}

.menu_btn > span::before {
  content: '';
  top: -10px;
}

.menu_btn > span::after {
  content: '';
  top: 10px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 5rem;
  width: 100vw;
  min-height: 60vh;
  /*Testing only remove if necessary */
  justify-content: center;
  text-align: start;
  /* Scroll Snap */
  scroll-snap-align: center;
}

body > section:nth-of-type(2n){
  background-color: #d1f7ff;
  color: #01012b;
  opacity: 0.8;
}

.section-heading {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 5rem;
  font-family: 'BebasNeueRegular';
  font-weight: normal;
  font-style: normal; 
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  font-size: 2.1rem;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-blur {
  margin: 1rem;
  padding: 1.2rem;
  height: 30rem;
  width: 50rem;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 1rem;
  border: medium solid #01012b;
  background-color: transparent;
}
.card-blur::-webkit-scrollbar { 
  width: 10px;
}
.card-blur::-webkit-scrollbar-track { 
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
.card-blur::-webkit-scrollbar-thumb {
  background: #ff2a6d; 
  border-radius: 10px;
}
.card-blur::-webkit-scrollbar-thumb:hover {
  background: #f0afc3; 
}

.card-icon {
  background-size: 7rem;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 10rem;
  size: 10rem;
  width: 100%;
  /*filter: blur(5px);*/
}

.fb{
  background-image: url(../images/facebook.png);
}
.ab{
  background-image: url(../images/first-american.jpg);

}
.op{
  background-image: url(../images/personnel-management.png);

}
.tw{
  background-image: url(../images/twitch.png);
}

.section-highlight{
  flex-direction: column; 
  align-items: center;
  text-align: center;
  width: 80vw;
  font-size: 3rem;
  border-style: dashed;
  padding: 2rem 2rem;
  border:medium dashed  #05d0e8;
  margin: 5rem;
}
/* Navigation Bar */
.navbar {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
}
  
.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar line {
  height: 2px;
  position: absolute;
  bottom: 0;
  margin: 10px 0 0 0;
  background: #FF1847;
}
.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}
  
.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 14px;
  color: #f4f4f4;
}
  
.navbar ul li a:hover {
  color: #ff2a4d;
  cursor: pointer;
  text-decoration: underline red; 
}

/* Bullet */

.bullet{
  font-weight: bold;

}
/* Consequences  */

.consequences-list {
  display:block;
}

dl {
  columns: 2;
  counter-reset: count;
  background: linear-gradient(90deg, rgba(252, 252, 252, 0.04) 20%, rgba(253, 198, 198, 0) 0%);
  padding-left: 1vw;
  padding-right: 4vw;
  padding-top: 2rem;
  margin: 0;
  
}

dl + dl {
  counter-reset: counter 4;
}

dt {
  counter-increment: count;
  color: #05d0e8;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  text-indent: -1em;
  list-style-position: outside;
  margin-left: 2em;
  margin-bottom: 0.5em;
}

dt::before {
  content: counter(count, decimal-leading-zero) ".";
  font-family: "Abril Fatface", cursive;
  color: #ff2a4d;
  margin-left: -1vw;
  padding-right: 12px;
}

dd {
  margin-left: 5vw;
  margin-bottom: 5vh;
}
#last-bullet{
  margin-bottom: -15vh;
}
/* Consequences End */

a:link{
  color:#f07dea;
}
a:visited{
  color: #a460ed
}

a:hover{
  color:#ff2a4d;
}

/* moving eyes */
#eyelids{
  background: #1b1b1b;
  border: #313131 solid 3rem;
  border-radius: 75rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 15%;
  overflow: hidden;
  rotate: 25deg;
  position: fixed;
  margin-left: 20rem;
  width: 50rem;
  height: 45rem;
  z-index: -1;
}

#eyeball{
  position: fixed;
  background: rgb(143, 64, 64);
  border: grey solid;
  border-width: 4rem;
  border-radius: 50%;
  height: 17rem;
  width: 17rem;
  animation: eyemove 6s ease infinite;
}

@keyframes eyemove {
  0%{
    transform: translateX(0) translateY(0)
  }

  20%{
    transform: translateX(7rem) translateY(-6rem)
  }

  40%{
    transform: translateX(7rem) translateY(-6rem)
  }

  60%{
    transform: translateX(0) translateY(0)
  }

  80%{
    transform: translateX(-4rem) translateY(3em)
  }

  90%{
    transform: translateX(-4rem) translateY(3em)
  }
}

/* Issues */
input[name='panel'] {
  display: none;
}
/* color scheme to be adjusted*/
.issues-label {
  display: block;
  padding: 1rem 1.5rem;
  margin-bottom: 3rem;
  border-bottom: .5rem solid #FF1847;
  border-radius: 2rem;
  color: #01012b;
  font-size: 4rem;
  width: 100%;
  cursor: pointer;
}

.issues-label span{
  background: #ff2a4d;
  color:#ffffff;
  padding: .5rem 1rem;
  border-radius: 2rem;
}

.issues-label:hover {
  background:#ecbcb4;
  border-radius: 2rem;
}

.issue-content {
  display: block;
  padding: 0 1rem;
  justify-content: center;
  width: 100%;
}

input[name='panel'] + .issue-content {
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease;
}

input[name='panel']:checked + .issue-content {
  overflow: auto;
  height: 10rem;

}

.drop-down-arrow {
  border: 0.5rem solid #954040;
  border-width: 0 1rem 1rem 0;
  align-items:right;
  display: inline-block;
  padding: 1rem;
  position: absolute;
  right: 20rem;

}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* Issues end */

/* Picture resize for image */
.fit-img{
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

/* Importance */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  background: #ff2a6d;
  color: #ffffff;
  width: 47rem;
  height: 80rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 1.5rem;
  border: white;
}

.card-image {
  background-color: gray;
  height: 40rem;
  margin-bottom: 2rem;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.car-1 {
  background-image: url('/images/cardimg1.jpg');
}
.car-2 {
  background-image: url('/images/cardimg2.jpg');
}
.car-3 {
  background-image: url('/images/cardimg3.png');
}

.card p {
  padding: 10px;
}

.card a {
  background-color: white;
  color: #ff2a6d;
  padding:15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  text-decoration: none;
}

.card:hover {
  background-color: white;
  color: #ff2a6d; 
  cursor: pointer;
  transform: scale(1.01);
  transition: all 1s ease;
}

.card:hover a {
  background-color: #ff2a6d;
  color: white;
  transition: all 1s ease;
}
/*Importance End*/

ul.protection-unordered{
  display: flex;
  font-size: 15px;
  list-style: none;
  margin-bottom: 1rem;
  z-index: -1;
}

.protection-unordered li{
  border-color: #ff2a4d;
  border-width: .5px;
  border-style: solid;
  display: grid;
  height: 25rem;
  margin: .5rem;
  margin-left: 5rem;
  padding: 2rem;
  text-align: center;
  width: 50rem;
}

/* Footer */
footer {
  width: 100%;
  text-align: center;
  border-top: 2px solid #ff2a4d;
  padding: 2rem 0;
  position: relative;
  left: 0;
  bottom: 0;
}
footer p {
  font-size: 1.4rem;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #ff2a4d;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  cursor: pointer;
  animation: pulse 2s infinite;
}

.up img {
  width: 2rem;
  margin: auto;
}

#importance .section-content {
  align-items: start;
}

/* Devices from 993px to 1200px (inclusive) */
@media (max-width: 1200px) {
  html {
    color: #01012b;
  }

  body {
    background: #eeee;
  }

  .section-content {
    font-size: 1.6rem;
  }

  .section-highlight {
    width: 90vw;
    font-size: 2rem;
  }

  #home {
    background-image: none;
    height: unset;
  }

  #tagline-wrapper {
    height: 85vh;
    text-align: center;
  }

  .glitch {
    position: relative;
  }

  .statistics {
    flex-direction: column;
  }

  .statistic {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 5rem;
  }

  .statistic p {
    padding: unset;
  }

  .highlight {
    color: #ff2a6d;
  }

/* hIghlights */
  dt::before {
    color: #ff2a6d;
  }
  dt{
    color: #4c97e2;
    font-weight: bold;
  }

/* issues dropdown */
  .issues-label {
    font-size: 3rem;
    border-bottom: .5rem solid #4c97e2;
    color: #ff2a6d;
    
  }
  
  .issues-label span{
    background: #4c97e2;
    padding: .5rem 1rem;
    border-radius: 2rem;
  }
  
  .issues-label:hover {
    background:#ecbcb4;
    border-radius: 2rem;
  }

  .drop-down-arrow {
    border: 0.5rem solid #ff2a6d;
    border-width: 0 1rem 1rem 0;
    align-items:right;
    display: inline-block;
    padding: 1rem;
    position: absolute;
    right: 5em;
  }

  /* Home tagline */
  #tagline{
    color: #ff2a6d;
    font-size: 10rem;
    display: inline-block;
  }

  .glitch{
    font-size: 10rem;
  }

  #last-bullet{
    margin-bottom: -10vh;
  }

  /* Importance of digital privacy */
  .card{
    background-color:  #f07dea;
  }
  
  .card-blur {
    margin: 1rem;
    padding: 1rem;
    overflow-y:hidden;
    height: unset;
    width: 100%;
    font-size: 1.6rem;
  }

  .menu_btn {
    display: block;
  }

  .navbar {
    position: left;
    background: #c7afe0;
    left: -50rem;
    height: 100vh;
    width: fit-content;
    animation: slide-right 150ms;
  }

  .navbar ul {
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
    flex-direction: column;
  }

  .navbar ul li a {
    font-size: 2rem;
  }
  .navbar line {
    background: #4c97e2;
  }
  .navbar ul li a:hover {
    color: #05d9e8;
    cursor: pointer;
    text-decoration: underline #ff2a6d; 
    text-shadow: 0.1rem 0.1rem #05d9e8;
  }

  .protection-unordered {
    flex-direction: column;
  }

  dl {
    padding-top: 4vw;
    padding-bottom: 2vw;
    
  }
}

/* Devices from 0px to 768px (inclusive) */
@media (max-width: 768px) {
  #eyelids {
    border-radius: 37.5rem 0;
    width: 25rem;
    height: 22.5rem;
    margin-left: 10rem;
  }
  #eyeball {
    border-width: 2rem;
    height: 8.5rem;
    width: 8.5rem;
  }

  #tagline {
    line-height: 10rem;
    font-size: 5rem;
  }
  .glitch{
    font-size: 5rem;
  }
/* Bullets for Effects of Data Breach */
  dl {
    columns: 1;
  }

  dt {
    color: #05d0e8;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
  }
  
  dt::before {
    margin-left: -1vw;
    padding-right: px;
  }
  
  dd {
    font-size: 2rem;
    margin-left: 5vw;
    margin-bottom: 5vh;
  }
/* Bullets End */


  /* Cards resize */
  .card-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .glitch{
    font-size: -0.5em;
  }

  .issues-label {
    font-size: 2.5rem;
    border-bottom: .5rem solid #4c97e2;
    color: #ff2a6d;
  }

  .drop-down-arrow {
    border: 0.5rem solid #ff2a6d;
    border-width: 0 1rem 1rem 0;
    align-items:right;
    display: inline-block;
    padding: 1rem;
    position: absolute;
    right: 3em;
  }
/* issues end */

/* Ways to protect */
ul.protection-unordered{
  display: flex;
  font-size: 1.7rem;
}

.protection-unordered li{
  border-color: #ff2a4d;
  border-width:2px;
  border-style: solid;
  display: grid;
  height: 50rem;
  margin: .5rem;
  margin-left: 1rem;
  padding: 2rem;
  text-align: center;
  width: 30rem;
}
/* ways to protect end */


  dl {
    padding-top: 4vw;
    padding-bottom: 2vw;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ff2a4d;
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(115, 138, 144, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(115, 138, 144, 0);
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #05d9e8, -0.03em -0.04em 0 #ff2a6d,
      0.025em 0.04em 0 #d1f7ff;
  }
  15% {
    text-shadow: 0.05em 0 0 #05d9e8, -0.03em -0.04em 0 #ff2a6d,
      0.025em 0.04em 0 #d1f7ff;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #05d9e8, 0.025em 0.035em 0 #ff2a6d,
      -0.05em -0.05em 0 #d1f7ff;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #05d9e8, 0.025em 0.035em 0 #ff2a6d,
      -0.05em -0.05em 0 #d1f7ff;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #05d9e8, 0.03em 0 0 #ff2a6d,
      0 -0.04em 0 #d1f7ff;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #05d9e8, 0.03em 0 0 #ff2a6d,
      0 -0.04em 0 #d1f7ff;
  }
  100% {
    text-shadow: -0.05em 0 0 #05d9e8, -0.025em -0.04em 0 #ff2a6d,
      -0.04em -0.025em 0 #d1f7ff;
  }
}

@keyframes slide-left {
  0% {
    left: -50vw;
  }

  100% {
    left: 0;
  }
}

@keyframes slide-right {
  0% {
    display: flex;
    left: 0;
  }

  100% {
    display: none;
    left: -50vw;
  }
}

