@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 10px;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  align-items: center;
  background: #01012b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

body::before {
  background-attachment: fixed;
  background-image: url(../images/wall.png);
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.075;
  position: absolute;
  right: 0;
  top: 0;
}

#home {
  align-items: normal;
  background-image: url(../images/home-media.png);
  background-position: right center;
  background-repeat: no-repeat, repeat;
  background-size: contain;
  display: flex;
  height: 100vh;
  padding: 0;
  width: 100vw;
}

#tagline-wrapper {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  position: relative;
  height: 80%;
  top: -10%;
}

#tagline {
  font-size: 10em;
  font-weight: 700;
  line-height: 20rem;
  width: 100%;
  cursor: default;
  color: white;
  opacity: 1;
  /* -webkit-text-stroke: 1px #ff2a6d; */
  /* testing text stroke */
}

#tagline + img {
  display: none;
  width: 35%;
}

#highlight {
  background: #805d62;
  border-radius: 2.5rem;
  color: #1b1b1b;
  padding: 1rem 5rem;
}

#definition .section-content {
  flex-direction: row;
  justify-content: space-around;
}

#definition .section-content img {
  width: 30%;
  margin-right: 10rem;
}

.highlight {
  color: #ff2a6d;
}

.glitch {
  font-size: 15rem;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  text-shadow: 0.05em 0 0 #05d0e8, -0.03em -0.04em 0 #ff2a6d,
    0.025em 0.04em 0 #d1f7ff;
  animation: glitch 725ms infinite;
}

.glitch span {
  position: absolute;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 500ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
  transform: translate(-0.04em, -0.03em);
  opacity: 0.75;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
  transform: translate(0.04em, 0.03em);
  opacity: 0.75;
}

.statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff2a6d;
  width: 100vw;
  z-index: 1000;
}

.statistic {
  border-width: 1px;
  border-style: solid;
  border-color: #01012b;
  display: flex;
  height: 11.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #01012b;
}

.statistic p {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0 5rem;
}

.statistic span {
  font-size: 3rem;
  font-weight: 700;
  padding-right: 5rem;
}

/* Hamburger Menu */
.hamburger-menu {
  width: 100%;
}

#menu_toggle {
  position: fixed;
  opacity: 0;
}

#menu_toggle:checked + .menu_btn > span {
  transform: rotate(45deg);
}

#menu_toggle:checked + .menu_btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu_toggle:checked + .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu_toggle:checked ~ .navbar {
  display: flex;
  left: 0;
  animation: slide-left 150ms;
}

.menu_btn {
  display: none;
  position: fixed;
  margin: 2rem;
  top: 1rem;
  left: 0rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 9000;
}

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff2a6d;
  transition-duration: 0.25s;
}

.menu_btn > span::before {
  content: "";
  top: -10px;
}

.menu_btn > span::after {
  content: "";
  top: 10px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 5rem;
  width: 100vw;
  min-height: 60vh;
  /*Testing only remove if necessary */
  justify-content: center;
  text-align: start;
  /* Scroll Snap */
  scroll-snap-align: center;
}

body > section:nth-of-type(2n) {
  background-color: #d1f7ff;
  color: #01012b;
  opacity: 0.8;
}

.section-heading {
  text-align: center;
  font-size: 6rem;
  margin-bottom: 5rem;
  font-family: "BebasNeueRegular";
  font-weight: normal;
  font-style: normal;
}

.section-subheading {
  font-size: 4rem;
  margin: 5rem 0;
  text-align: center;
  align-items: center;
  font-family: "BebasNeueRegular";
}

.section-subheading::after {
  content: "";
  display: block;
  width: 20rem;
  height: 0.25rem;
  background-color: #01012b;
  position: relative;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  font-size: 2.1rem;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card-blur {
  margin: 1rem;
  padding: 1.2rem;
  height: 30rem;
  width: 45%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 1rem;
  border: medium solid #01012b;
  background-color: transparent;
}

.card-blur > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}

.card-blur::-webkit-scrollbar {
  width: 10px;
}
.card-blur::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.card-blur::-webkit-scrollbar-thumb {
  background: #ff2a6d;
  border-radius: 10px;
}
.card-blur::-webkit-scrollbar-thumb:hover {
  background: #f0afc3;
}

.card-icon {
  background-size: 10rem;
  background-position: center;
  background-repeat: no-repeat;
  height: 10rem;
  width: 17rem;
  /*filter: blur(5px);*/
}

.fb {
  background-image: url(../images/facebook.png);
}
.ab {
  background-image: url(../images/first-american.jpg);
}
.op {
  background-image: url(../images/personnel-management.png);
}
.tw {
  background-image: url(../images/twitch.png);
}

.section-highlight {
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80vw;
  font-size: 3rem;
  border-style: dashed;
  padding: 2rem 2rem;
  border: medium dashed #05d0e8;
  margin: 5rem;
}
/* Navigation Bar */
.navbar {
  position: fixed;
  z-index: 8000;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
}

.navbar > a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-left: 2rem;
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar > a:visited {
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar line {
  height: 2px;
  position: absolute;
  bottom: 0;
  margin: 10px 0 0 0;
  background: #ff2a6d;
}
.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  letter-spacing: 0.2em;
  font-size: 14px;
  color: #f4f4f4;
}

.navbar ul li a:hover,
.navbar > a:hover {
  color: #ff2a6d;
  cursor: pointer;
  text-decoration: underline #ff2a6d;
}

/* Bullet */

.bullet {
  font-weight: bold;
}
/* Consequences  */

.consequences-list {
  display: block;
}

dl {
  columns: 2;
  counter-reset: count;
  background: linear-gradient(
    90deg,
    rgba(252, 252, 252, 0.04) 20%,
    rgba(253, 198, 198, 0) 0%
  );
  padding: 5rem 0;
  margin: 0;
}

dl + dl {
  counter-reset: counter 4;
}

dt {
  counter-increment: count;
  color: #05d0e8;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  text-indent: -1em;
  list-style-position: outside;
  margin-left: 2em;
  margin-bottom: 0.5em;
}

dt::before {
  content: counter(count, decimal-leading-zero) ".";
  font-family: "Abril Fatface", cursive;
  color: #ff2a6d;
  margin-left: -1vw;
  padding-right: 12px;
}

dd {
  margin-left: 5vw;
  margin-bottom: 5vh;
}

#last-bullet {
  margin-bottom: -15vh;
}
/* Consequences End */

a:link {
  color: #ff2a6d;
}

a:visited {
  color: #a460ed;
}

a:hover {
  color: #f07dea;
}

/* moving eyes */
#eyelids-desktop {
  background: #1b1b1b;
  border: #313131 solid 0.3rem;
  border-radius: 7.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 100%;
  overflow: hidden;
  transform: rotate(25deg);
  position: fixed;
  margin-right: 5rem;
  right: 0;
  width: 5rem;
  height: 4.5rem;
  z-index: 9999;
}

#eyeball-desktop {
  position: fixed;
  background: rgb(143, 64, 64);
  border: grey solid;
  border-width: 0.4rem;
  border-radius: 50%;
  height: 1.7rem;
  width: 1.7rem;
  animation: eyemove 6s ease infinite;
}

#eyelids-mobile {
  background: #1b1b1b;
  border: #313131 solid 1.2rem;
  border-radius: 30rem 0;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: rotate(10deg);
  width: 20rem;
  height: 18rem;
  z-index: unset;
}

#eyeball-mobile {
  position: fixed;
  background: rgb(143, 64, 64);
  border: grey solid;
  border-width: 1.6rem;
  border-radius: 50%;
  height: 6.8rem;
  width: 6.8rem;
  animation: eyemoveMobile 6s ease infinite;
}

@keyframes eyemove {
  0% {
    transform: translateX(0) translateY(0);
  }

  20% {
    transform: translateX(0.7rem) translateY(-0.6rem);
  }

  40% {
    transform: translateX(0.7rem) translateY(-0.6rem);
  }

  60% {
    transform: translateX(0) translateY(0);
  }

  80% {
    transform: translateX(-0.4rem) translateY(0.3em);
  }

  90% {
    transform: translateX(-0.4rem) translateY(0.3em);
  }
}

/* Issues */
input[name="panel"] {
  display: none;
}
/* color scheme to be adjusted*/
.issues-label {
  display: block;
  padding: 1rem 1.5rem;
  margin-bottom: 3rem;
  border-bottom: 0.5rem solid #ff2a6d;
  border-radius: 2rem;
  color: #01012b;
  font-size: 4rem;
  width: 100%;
  cursor: pointer;
}

.issues-label span {
  background: #ff2a6d;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.issues-label:hover {
  background: #ecbcb4;
  border-radius: 2rem;
}

.issue-content {
  display: block;
  padding: 0 1rem;
  justify-content: center;
  width: 100%;
}

input[name="panel"] + .issue-content {
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease;
}

input[name="panel"]:checked + .issue-content {
  overflow: auto;
  height: 10rem;
}

.drop-down-arrow {
  border: 0.5rem solid #ff2a6d;
  border-width: 0 1rem 1rem 0;
  display: inline-block;
  padding: 1rem;
  position: absolute;
  right: 20rem;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/* Issues end */

/* Picture resize for image */
.fit-img {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

/* Importance */
.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  background: #ff2a6d;
  color: #ffffff;
  width: 47rem;
  height: 80rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 1.5rem;
  border: white;
}

.card-image {
  background-color: gray;
  height: 40rem;
  margin-bottom: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40rem;
}

.car-1 {
  background-image: url("/images/cardimg1.jpg");
}
.car-2 {
  background-image: url("/images/cardimg2.jpg");
}
.car-3 {
  background-image: url("/images/cardimg3.png");
}

.card p {
  padding: 1rem;
}

.card a {
  background-color: white;
  color: #ff2a6d;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
  text-decoration: none;
}

.card:hover {
  background-color: white;
  color: #ff2a6d;
  cursor: pointer;
  transform: scale(1.01);
  transition: all 1s ease;
}

.card:hover a {
  background-color: #ff2a6d;
  color: white;
  transition: all 1s ease;
}
/*Importance End*/

.protection-unordered {
  display: flex;
  font-size: 1.5rem;
  list-style: none;
  margin-bottom: 1rem;
  z-index: -1;
  align-items: center;
}

.protection-unordered li {
  border-color: #ff2a4d;
  border-width: 0.5px;
  border-style: solid;
  display: grid;
  height: 25rem;
  margin: 0.5rem;
  margin-left: 5rem;
  padding: 2rem;
  text-align: center;
  width: 50rem;
}

.members-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  width: 100%;
}

.member {
  position: relative;
  float: left;
  font-size: 1.5rem;
  margin: 30px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.member img {
  height: 35rem;
  width: 25rem;
  object-fit: cover;
  transform-origin: bottom center;
  transform: perspective(500px) rotateX(0);
  transition: 0.5s all ease;
}

.member-details {
  margin-top: 1rem;
  text-align: left;
}

.member:hover img{
  transform: perspective(500px) rotateX(50deg);
}

.member .member_content {
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: bottom center;
  transform: perspective(500px) rotateX(-50deg);
  opacity: 0 ;
  background: rgba(1, 1, 43, 0.9);
  transition: 0.5s all ease;
}

.member:hover .member_content{
  opacity: 1;
  transform: perspective(500px) rotateX(0);
}


/* Footer */
footer {
  width: 100%;
  text-align: center;
  border-top: 2px solid #ff2a4d;
  padding: 2rem 0;
  position: relative;
  left: 0;
  bottom: 0;
}

footer p {
  font-size: 1.4rem;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #ff2a4d;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  cursor: pointer;
  animation: pulse 2s infinite;
}

.up img {
  width: 2rem;
  margin: auto;
}

#importance .section-content {
  align-items: start;
}

/* Devices from 993px to 1200px (inclusive) */
@media (max-width: 1200px) {
  html {
    color: #01012b;
  }

  body {
    background: #eeee;
  }

  footer {
    background-color: #d1f7ff;
  }

  .filter-blue {
    filter: invert(97%) sepia(71%) saturate(3586%) hue-rotate(174deg)
      brightness(106%) contrast(109%);
  }

  .section-content {
    font-size: 1.6rem;
  }

  .section-highlight {
    width: 90vw;
    font-size: 2rem;
  }

  #home {
    background-image: none;
    height: unset;
  }

  #tagline-wrapper {
    flex-direction: column;
    height: 85vh;
    text-align: center;
  }

  #definition .section-content img {
    width: 50%;
    margin-right: 5rem;
  }

  #eyelids-desktop {
    display: none;
  }

  #eyelids-mobile {
    display: flex;
  }

  .glitch {
    position: relative;
  }

  #tagline + img {
    display: block;
  }

  .statistics {
    background-color: #01012b;
    flex-direction: column;
  }

  .statistic {
    color: white;
    border-color: white;
  }

  .statistic {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-left: 5rem;
  }

  .statistic p {
    padding: unset;
  }

  .highlight {
    color: #ff2a6d;
  }

  /* Highlights */
  dt::before {
    color: #ff2a6d;
  }
  dt {
    color: #4c97e2;
    font-weight: bold;
    font-size: 2.5rem;
  }
  dd {
    font-size: 1.6rem;
  }

  /* issues dropdown */
  .issues-label {
    font-size: 3rem;
    border-bottom: 0.5rem solid #4c97e2;
    color: #ff2a6d;
  }

  .issues-label span {
    background: #4c97e2;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
  }

  .issues-label:hover {
    background: #ecbcb4;
    border-radius: 2rem;
  }

  .drop-down-arrow {
    border: 0.5rem solid #ff2a6d;
    border-width: 0 1rem 1rem 0;
    display: inline-block;
    padding: 1rem;
    position: absolute;
    right: 5em;
  }

  /* Home tagline */
  #tagline {
    color: #ff2a6d;
    line-height: 15rem;
    font-size: 7rem;
    display: inline-block;
  }

  .glitch {
    font-size: 7rem;
  }

  #last-bullet {
    margin-bottom: -10vh;
  }

  /* Importance of digital privacy */
  .card {
    background-color: #ff2a6d;
  }

  .card-blur {
    margin: 1rem;
    padding: 1rem;
    overflow-y: hidden;
    height: unset;
    width: 100%;
    font-size: 1.6rem;
  }

  .menu_btn {
    display: block;
  }

  .navbar {
    background: #ff2a6d;
    left: -50rem;
    height: 100vh;
    width: fit-content;
    animation: slide-right 150ms;
  }

  .navbar > a {
    display: none;
  }

  .navbar ul {
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
    flex-direction: column;
  }

  .navbar ul li a {
    font-size: 2rem;
  }
  .navbar line {
    background: #4c97e2;
  }
  .navbar ul li a:hover {
    color: #05d9e8;
    cursor: pointer;
    text-decoration: underline #ff2a6d;
    text-shadow: 0.1rem 0.1rem #05d9e8;
  }

  #menu_toggle:checked + .menu_btn > span,
  #menu_toggle:checked + .menu_btn > span::before,
  #menu_toggle:checked + .menu_btn > span::after {
    background-color: white;
  }

  .protection-unordered {
    flex-direction: column;
    margin: 0;
    width: 65vw;
  }

  .protection-unordered li {
    width: 100%;
    margin: 0 0 2rem 0;
  }

  dl {
    padding: 5rem 0;
  }

  .card {
    flex-direction: row;
    width: 80vw;
    height: unset;
  }

  .card-image {
    width: 40vw;
    height: 40rem;
    margin: unset;
    border-radius: 15px 0 0 15px;
  }

  .card-content {
    width: 40vw;
    padding: 2rem 2rem 0 2rem;
  }

  .member img {
    width: 20rem;
  }
}

/* Devices from 0px to 768px (inclusive) */
@media (max-width: 768px) {
  #eyelids {
    border-radius: 37.5rem 0;
    width: 25rem;
    height: 22.5rem;
    margin-left: 10rem;
  }
  #eyeball {
    border-width: 2rem;
    height: 8.5rem;
    width: 8.5rem;
  }

  #tagline {
    line-height: 10rem;
    font-size: 5rem;
  }

  .glitch {
    font-size: 5rem;
  }

  #tagline + img {
    width: 60%;
  }

  #definition .section-content {
    flex-direction: column;
    justify-content: center;
  }

  #definition .section-content img {
    margin: 0 0 2rem 0;
    width: 60%;
  }

  /* Bullets for Effects of Data Breach */
  dl {
    columns: 1;
  }

  dt {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
  }

  dt::before {
    margin-left: -1vw;
  }
  /* Bullets End */

  /* Cards resize */
  .card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .issues-label {
    font-size: 2.5rem;
    border-bottom: 0.5rem solid #4c97e2;
    color: #ff2a6d;
  }

  .drop-down-arrow {
    border: 0.5rem solid #ff2a6d;
    border-width: 0 1rem 1rem 0;
    display: inline-block;
    padding: 1rem;
    position: absolute;
    right: 3em;
  }
  /* issues end */
  .protection-unordered {
    width: 80vw;
  }
  /* ways to protect end */
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #ff2a4d;
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(115, 138, 144, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(115, 138, 144, 0);
  }
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #05d9e8, -0.03em -0.04em 0 #ff2a6d,
      0.025em 0.04em 0 #d1f7ff;
  }
  15% {
    text-shadow: 0.05em 0 0 #05d9e8, -0.03em -0.04em 0 #ff2a6d,
      0.025em 0.04em 0 #d1f7ff;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #05d9e8, 0.025em 0.035em 0 #ff2a6d,
      -0.05em -0.05em 0 #d1f7ff;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #05d9e8, 0.025em 0.035em 0 #ff2a6d,
      -0.05em -0.05em 0 #d1f7ff;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #05d9e8, 0.03em 0 0 #ff2a6d,
      0 -0.04em 0 #d1f7ff;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #05d9e8, 0.03em 0 0 #ff2a6d,
      0 -0.04em 0 #d1f7ff;
  }
  100% {
    text-shadow: -0.05em 0 0 #05d9e8, -0.025em -0.04em 0 #ff2a6d,
      -0.04em -0.025em 0 #d1f7ff;
  }
}

@keyframes slide-left {
  0% {
    left: -50vw;
  }

  100% {
    left: 0;
  }
}

@keyframes slide-right {
  0% {
    display: flex;
    left: 0;
  }

  100% {
    display: none;
    left: -50vw;
  }
}

@keyframes eyemoveMobile {
  0% {
    transform: translateX(0) translateY(0);
  }

  20% {
    transform: translateX(5.6rem) translateY(-4.8rem);
  }

  40% {
    transform: translateX(5.6rem) translateY(-4.8rem);
  }

  60% {
    transform: translateX(0) translateY(0);
  }

  80% {
    transform: translateX(-3.2rem) translateY(2.4em);
  }

  90% {
    transform: translateX(-3.2rem) translateY(2.4em);
  }
}
